@import '../variables';
@import '../mixins';

.video-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;

  &__container {
    width: calc(50% - 10px);

    @media (max-width: $breakpoint-mobile-width) {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &__video {
    width: 100%;
    display: block;
  }
}
